body{
    text-align: center;
background-color: rgb(183, 29, 255);
}
h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
